header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 40px;
}
.head {
	color: blueviolet;
	font-size: 3rem;
	font-weight: 700;
	margin: 20px 0 30px;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	letter-spacing: 8px;
	box-shadow: rgb(196, 146, 243) 10px 10px 10px;
	width: 500px;
	padding: 15px;
    text-align: center;
}
.paraHead {
	font-size: 1.2rem;
	color: blueviolet;
	background-color: rgb(241, 250, 160);
	padding: 10px;
	font-weight: 600;
}
.paraHead span {
	background-color: rgb(203, 165, 238);
	font-size: 1.2rem;
	color: blueviolet;
	padding: 10px;
	width: 14px;
	margin-right: 4px;
	font-weight: 600;
}
